/* You can add global styles to this file, and also import other style files */
body{
    background-image:linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/assets/cloud.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}